body{
    background-color: beige;
}

h1{
    font-size: 2em;
}

h2,h1,h3{
    margin: 0;
    text-align: center;
}

li{
    list-style: none;
}

.grid-container{
    display: grid;
    justify-content: center;
    gap: 5rem;
    max-width: 24rem;
    margin: 0 auto;    
}

@media screen and (min-width: 1080px) {
    .grid-container{
        grid-template-columns: 24rem 24rem;
    }
}

.board-tile{
    padding: 0;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    margin: -1px;

    font-family: sans-serif;
    font-size: 3em;
    font-weight:100;
    color: darkred;
}

.board-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    width: 300px;
    height: 300px;
}

.restart {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    padding: 0.5rem 1rem;
    border-radius: 0.85rem;
}

.content-wrapper{
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    gap:2rem;

    border-radius: 1rem;
    background-color: lightskyblue;

    padding:2rem 3rem;
}
.nav-wrapper{
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-items: center;
    align-content: start;
    gap:2rem;

    border-radius: 1rem;
    background-color: lightskyblue;

    padding:2rem 3rem;
}

.options-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2em;

    background-color: lightgreen;
    border-radius:1rem;       

    padding:1rem;
    width: 100%;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
